<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>Sanic Chat</title>
</head>

<body>
    <div class="container">
        <form class="nickname-form" id="nickForm">
            <h2>Welcome to Sanic Chat. Please enter your nickname</h2>
            <input id="nickField" type="text" class="input-sm" placeholder="Enter Your Nickname" required>
            <input class="btn btn-md btn-success" id="nickSubmit" type="submit" value="Submit">
        </form>
    </div>
    <div class="container hide" id="msgBox">
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading top-bar">Welcome to Sanic Chat !!</div>
                <div class="panel-body">
                    <div class="container msg_container">
                        <div class="row message-bubble">
                            <p id="nickname" class="text-muted">ZED</p>
                            <span id="msg"> Hello Aris!</span>
                        </div>
                        <div class="row message-bubble">
                            <p id="nick" class="text-muted">Aris</p>
                            <span id="msg"> Hello ZED!</span>
                        </div>
                        <div class="row message-bubble">
                            <p id="nickname" class="text-muted">Aris</p>
                            <span id="msg"> Hello ZED!</span>
                        </div>
                    </div>
                    <span id="chat"></span>
                    <div class="panel-footer">
                        <form class="input-group" id="form">
                            <input id="btn-input" type="text" class="form-control input-sm" placeholder="Write your message here..." required>
                            <input class="btn btn-md btn-primary" id="submit" type="submit" value="Send">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/static/js/index.js"></script>
</body>

</html>